services:
  api-gateway:
    image: kong/kong-gateway:latest
    container_name: kong-gateway
    restart: always
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: "/tmp/kong.yaml"
      KONG_LOG_LEVEL: "info"
      KONG_PROXY_LISTEN: "0.0.0.0:8000"
      JWT_SECRET: "${JWT_SECRET}"
    volumes:
      - ./kong.yaml:/tmp/kong.yaml.template:ro
    command: /bin/sh -c "sed 's|\$${JWT_SECRET}|'\"$$JWT_SECRET\"'|g' /tmp/kong.yaml.template > /tmp/kong.yaml && kong start"
    ports:
      - "3001:8000"
