version: "3.8"

services:
  api-gateway:
    image: kong/kong-gateway:latest
    container_name: kong-gateway
    restart: always
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: "./usr/local/kong/declarative/kong.yaml"
      KONG_PROXY_LISTEN: "0.0.0.0:8000"
      JWT_SECRET: "${JWT_SECRET}"
    volumes:
      - ./kong.yaml:/usr/local/kong/declarative/kong.yaml:ro
    ports:
      - "3001:8000"